html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  background-color: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

button {
  padding: 10px 30px;
  font-size: 18px;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #ffffff;
}

header {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.no-margin {
  margin: 0;
  padding: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 220px;
}

.playback-img {
  width: 30px;
  height: 30px;
  float: left;
  position: relative;
  top: 7px;
}

.playback-title {
  margin: 0;
  padding: 0;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-svg {
  background-color: rgb(20, 20, 20);
  padding: 9px;
}

#search-box {
  background-color: rgb(20, 20, 20);
  color: white;
  width: 450px;
  height: 34px;
  margin: 0;
  padding: 0;
  border: none;
}

.cancel-svg {
  background-color: rgb(20, 20, 20);
  padding: 9px;
}

.main-container {
  flex: 1;
  display: flex;
  min-height: 0;
}

.left-box {
  background-color: rgb(10, 10, 10);
  padding: 0px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.left-box::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

/* User Container */

.banner {
  height: 65px;
}

.user-container {
  padding: 0px;
  padding-top: 15px;
  display: flex;
  position: relative;
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-infobox {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.user-name {
  margin-left: 14px;
}

.current-status {
  margin-left: 14px;
  display: flex;
  flex-wrap: nowrap;
  font-size: 13px;
}

/* Showcase Container */

.showcase-container {
  background-color: rgb(10, 10, 10);
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid transparent;
  border-image-source: url("/assets/images/png/border.png");
  border-image-slice: 1 fill;
}

.showcase-container::before {
  content: "Statistics";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

.tts {
  margin-bottom: 20px;
}

.stats-in-graph {
  display: flex;
  font-size: 10px;
}

.circle-graph-example-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.categories-list {
  padding: 0;
  position: relative;
  bottom: 12px;
  left: 25px;
}

.text-under-graph {
  margin-top: 20px;
}

/* Profiles Container */

.following-friends-recommendations-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.45);
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
}

.following-friends-recommendations-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.ffr-title {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.following-friends-recommendations-list li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.following-friends-recommendations-list h4 {
  margin: 0;
  padding: 0;
}

.following {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.followed-channels-icons {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

/* Random Facts Container */

.hint-fact-container {
  background-color: rgb(17, 17, 17);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  padding: 20px;
  gap: 15px;
}

.hf-title {
  margin: 0;
  padding: 0;
}

.hf-text {
  margin: 0;
  padding: 0;
}

/* Links Container */

.links-container {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 6px;
  border-top: 1px solid rgba(255, 255, 255, 0.45);
  border-bottom: 1px solid rgba(255, 255, 255, 0.45);
}

.links-title {
  margin: 0;
  padding: 0;
  text-align: center;
}

.links-container ul {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 7px;
}

.links-container li {
  list-style-type: none;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
}

.links-list img {
  width: 22px;
  height: 22px;
  position: relative;
  top: 3px;
}

/* Feedback Container */

.feedback-container {
  margin: 0;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feedback {
  margin: 0;
  padding: 0;
}

#feedback {
  height: 120px;
  background-color: rgb(31, 31, 31);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  resize: none;
}

/* Other Stuff Container */

.other-stuff-container {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.45);
}

.os-title {
  padding: 0;
  margin: 0;
}

/* Right Box */

.hero {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 0;
  overflow-y: auto;
}

.video-adjust {
  margin-top: 10px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  height: 65px;
  flex-shrink: 0;

  border-bottom: 1px solid rgb(179, 179, 179);
}

.adjusting-video-by-preference {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.adjusting-video-by-time {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.video-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.video-block {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 20px;
}

.block-of-videos-1,
.block-of-videos-2 {
  display: flex;
  justify-content: space-between;
}

.video {
  width: 388px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.video-preview {
  background-color: rgb(68, 68, 68);
  height: 218px;
  width: 388px;
  border-radius: 7px;
  /*
  border-left: 2px solid rgb(255, 255, 255);
  border-top: 2px solid rgb(255, 255, 255);
  */
}

.video-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 51px;
  gap: 5px;
}

.video-title {
  display: flex;
  align-items: center;
  height: 51px;
}

.info {
  display: flex;
  flex-direction: column;
  height: 89px;
}

.infobox {
  display: flex;

  height: 40px;
  gap: 5px;
}

.line-center {
  text-align: center;
  position: relative;
  font-weight: 500;
}
.line-center::before,
.line-center::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 45%;
  height: 1px;
  background: rgb(179, 179, 179);
}
.line-center::before {
  left: 0;
  transform: translateY(-50%);
}
.line-center::after {
  right: 0;
  transform: translateY(-50%);
}

.watchlist {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0px;
}
