body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(10, 10, 10);
  color: rgb(255, 255, 255);
  margin: 35px;
}

button {
  padding: 10px 30px;
  font-size: 18px;
}

img {
  vertical-align: top;
}

span {
  margin-left: 10px;
}

.showcase {
  padding: 15px;
  background-color: rgb(10, 10, 10);
  width: 200px;
}
.user {
  padding: 15px;
  /*background-color: rgb(26, 26, 26);*/
  background-color: rgb(10, 10, 10);
  width: 200px;
}

a {
  text-decoration: none; /* прибирає підкреслення */
  color: #ffffff; /* змінює колір на темно-сірий або будь-який інший */
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  margin-left: 20px; /* змінює курсор на "руку" при наведенні */
}
